<div class="v2-input-fields">
  <div class="v2-input-fields__group">
    <label for="t">対象行:</label>
    <input type="number" name="t" id="t" class="v2-input-fields__input" required>
  </div>
  <div class="v2-input-fields__group" id="factor-group">
    <label for="f">係数:</label>
    <input type="text" name="f" id="f" class="v2-input-fields__input">
  </div>
  <div class="v2-input-fields__group" id="ref-row-group">
    <label for="r">参照行:</label>
    <input type="number" name="r" id="r" class="v2-input-fields__input">
  </div>
</div>