{% extends "base.html" %}

{% block title %}行列サイズ指定{% endblock %}

{% block content %}
  <div class="block-section">
    <h2>行列サイズの指定</h2>

    <form method="post" action="{{ url_for('init_matrix.input_form') }}">
      <label for="rows">行数:</label>
      <input type="number" name="rows" id="rows" min="1" max="10" required><br>

      <label for="cols">列数:</label>
      <input type="number" name="cols" id="cols" min="1" max="10" required><br>

      <button type="submit">次へ</button>
    </form>
  </div>
{% endblock %}
